<template name="login">
	<h4>login guest</h4>
 <form id="loginForm" class="form-horizontal">
 	<div class="form-group">
 		<label for="username" class="col-xs-1 control-label">username</label>
 		<div class="col-xs-2">
 			<input type="text" name="username" id="username" class="form-control" required>
 		</div>
 	</div>
 	<div class="form-group">
 		<label for="password" class="col-xs-1 control-label">password</label>
 		<div class="col-xs-2">
 			<input type="password" name="password" id="password" class="form-control" required>
 		</div>
 	</div>
 	<div class="form-group">
 		<div class="col-xs-offset-1 col-xs-2">
 			<input type="submit" class="btn btn-block btn-primary" value="login">
 		</div>
 	</div>
 </form>
</template>