<template name="master">
	<header>
		<a href="{{pathFor 'home'}}">home</a> | 
		<a href="{{pathFor 'login'}}">login</a> |
		<a href="{{pathFor 'register'}}">register</a>|
		{{#if currentUser}}
			<a href="{{pathFor 'view-tweets'}}">tweets</a> |
			<a href="{{pathFor 'dashboard'}}">dashboard</a> |
			<a href="{{pathFor 'logout'}}">logout</a> |
		{{/if}}
	</header>
	<main>
	 {{>Template.dynamic template = yield}}
	</main>
	<footer>
		footer menu
	</footer>
</template>