<template name="tweetList">
	<form id="addTweet" class="row form-inline">
		<div class="form-group container">
			<label for="tweet" class="col-xs-1 control-label"></label>
			<div class="col-xs-10">
				<input type="text" name="tweet" id="tweet" class="form-control" placeholder="tweet" autofocus>
				<button type="submit" class=" btn btn-primary">
					<i class="fa fa-twitter"></i>
				</button>
			</div>
		</div>
	</form>
	<div class="container">
		{{#each all}}
			<li>
				{{tweet}} - {{formatDate created_at}}
				<a class="edit">edit |</a>
				<a class="delete">delete</a>
			</li>
		{{/each}}
	</div>
	<!-- modal start -->
	<div class="modal fade capitalCase">
		<form id="editTweetForm">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						
					</div>
					<div class="modal-body">
						<input type="text" id="editTweet" class="form-control" required>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-info">update</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!-- modal ends -->
</template>	

